$variable-prefix: --;
$include-column-box-sizing: true !default;
//@use 'tools/utilities/map-merge'

@import 'tools/functions';

@import 'variables';
@import 'mixins';

@import 'tools/utilities/utilities';
@import 'tools/utilities/generator';

$utilities: map-merge(
  $utilities, (
    'border': map-merge(
      map-get($utilities, 'border'),
      ( responsive: true ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'cursor': (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    )
  )
);
