$cjmt-primary-color-100: tint-color($cjmt-primary-color, 80%);
$cjmt-primary-color-200: tint-color($cjmt-primary-color, 60%);
$cjmt-primary-color-300: tint-color($cjmt-primary-color, 40%);
$cjmt-primary-color-400: tint-color($cjmt-primary-color, 20%);
$cjmt-primary-color-500: $cjmt-primary-color;
$cjmt-primary-color-600: shade-color($cjmt-primary-color, 20%);
$cjmt-primary-color-700: shade-color($cjmt-primary-color, 40%);
$cjmt-primary-color-800: shade-color($cjmt-primary-color, 60%);
$cjmt-primary-color-900: shade-color($cjmt-primary-color, 80%);

$cjmt-secondary-color-100: tint-color($cjmt-secondary-color, 80%);
$cjmt-secondary-color-200: tint-color($cjmt-secondary-color, 60%);
$cjmt-secondary-color-300: tint-color($cjmt-secondary-color, 40%);
$cjmt-secondary-color-400: tint-color($cjmt-secondary-color, 20%);
$cjmt-secondary-color-500: $cjmt-secondary-color;
$cjmt-secondary-color-600: shade-color($cjmt-secondary-color, 20%);
$cjmt-secondary-color-700: shade-color($cjmt-secondary-color, 40%);
$cjmt-secondary-color-800: shade-color($cjmt-secondary-color, 60%);
$cjmt-secondary-color-900: shade-color($cjmt-secondary-color, 80%);

$cjmt-accent-color-100: tint-color($cjmt-accent-color, 80%);
$cjmt-accent-color-200: tint-color($cjmt-accent-color, 60%);
$cjmt-accent-color-300: tint-color($cjmt-accent-color, 40%);
$cjmt-accent-color-400: tint-color($cjmt-accent-color, 20%);
$cjmt-accent-color-500: $cjmt-accent-color;
$cjmt-accent-color-600: shade-color($cjmt-accent-color, 20%);
$cjmt-accent-color-700: shade-color($cjmt-accent-color, 40%);
$cjmt-accent-color-800: shade-color($cjmt-accent-color, 60%);
$cjmt-accent-color-900: shade-color($cjmt-accent-color, 80%);

$cjmt-primary-colors: (
  'cjmt-primary-color-100': $cjmt-primary-color-100,
  'cjmt-primary-color-200': $cjmt-primary-color-200,
  'cjmt-primary-color-300': $cjmt-primary-color-300,
  'cjmt-primary-color-400': $cjmt-primary-color-400,
  'cjmt-primary-color-500': $cjmt-primary-color-500,
  'cjmt-primary-color-600': $cjmt-primary-color-600,
  'cjmt-primary-color-700': $cjmt-primary-color-700,
  'cjmt-primary-color-800': $cjmt-primary-color-800,
  'cjmt-primary-color-900': $cjmt-primary-color-900
);

$cjmt-secondary-colors: (
  'cjmt-secondary-color-100': $cjmt-secondary-color-100,
  'cjmt-secondary-color-200': $cjmt-secondary-color-200,
  'cjmt-secondary-color-300': $cjmt-secondary-color-300,
  'cjmt-secondary-color-400': $cjmt-secondary-color-400,
  'cjmt-secondary-color-500': $cjmt-secondary-color-500,
  'cjmt-secondary-color-600': $cjmt-secondary-color-600,
  'cjmt-secondary-color-700': $cjmt-secondary-color-700,
  'cjmt-secondary-color-800': $cjmt-secondary-color-800,
  'cjmt-secondary-color-900': $cjmt-secondary-color-900
);

$cjmt-accent-colors: (
  cjmt-accent-color-100: $cjmt-accent-color-100,
  cjmt-accent-color-200: $cjmt-accent-color-200,
  cjmt-accent-color-300: $cjmt-accent-color-300,
  cjmt-accent-color-400: $cjmt-accent-color-400,
  cjmt-accent-color-500: $cjmt-accent-color-500,
  cjmt-accent-color-600: $cjmt-accent-color-600,
  cjmt-accent-color-700: $cjmt-accent-color-700,
  cjmt-accent-color-800: $cjmt-accent-color-800,
  cjmt-accent-color-900: $cjmt-accent-color-900
);
