$cjmt-gray-100-rgb: rgb(192,192,192);
$cjmt-gray-200-rgb: rgb(154,154,154);
$cjmt-gray-300-rgb: rgb(123,123,123);
$cjmt-gray-400-rgb: rgb(98,98,98);
$cjmt-gray-500-rgb: rgb(78,78,78);
$cjmt-gray-600-rgb: rgb(62,62,62);
$cjmt-gray-700-rgb: rgb(50,50,50);
$cjmt-gray-800-rgb: rgb(40,40,40);
$cjmt-gray-900-rgb: rgb(26,26,26);
