$cjmt-color-primary-100: tint-color($cjmt-color-primary, 80%);
$cjmt-color-primary-200: tint-color($cjmt-color-primary, 60%);
$cjmt-color-primary-300: tint-color($cjmt-color-primary, 40%);
$cjmt-color-primary-400: tint-color($cjmt-color-primary, 20%);
$cjmt-color-primary-500: $cjmt-color-primary;
$cjmt-color-primary-600: shade-color($cjmt-color-primary, 20%);
$cjmt-color-primary-700: shade-color($cjmt-color-primary, 40%);
$cjmt-color-primary-800: shade-color($cjmt-color-primary, 60%);
$cjmt-color-primary-900: shade-color($cjmt-color-primary, 80%);

$cjmt-color-secondary-100: tint-color($cjmt-color-secondary, 80%);
$cjmt-color-secondary-200: tint-color($cjmt-color-secondary, 60%);
$cjmt-color-secondary-300: tint-color($cjmt-color-secondary, 40%);
$cjmt-color-secondary-400: tint-color($cjmt-color-secondary, 20%);
$cjmt-color-secondary-500: $cjmt-color-secondary;
$cjmt-color-secondary-600: shade-color($cjmt-color-secondary, 20%);
$cjmt-color-secondary-700: shade-color($cjmt-color-secondary, 40%);
$cjmt-color-secondary-800: shade-color($cjmt-color-secondary, 60%);
$cjmt-color-secondary-900: shade-color($cjmt-color-secondary, 80%);

$cjmt-color-accent-100: tint-color($cjmt-color-accent, 80%);
$cjmt-color-accent-200: tint-color($cjmt-color-accent, 60%);
$cjmt-color-accent-300: tint-color($cjmt-color-accent, 40%);
$cjmt-color-accent-400: tint-color($cjmt-color-accent, 20%);
$cjmt-color-accent-500: $cjmt-color-accent;
$cjmt-color-accent-600: shade-color($cjmt-color-accent, 20%);
$cjmt-color-accent-700: shade-color($cjmt-color-accent, 40%);
$cjmt-color-accent-800: shade-color($cjmt-color-accent, 60%);
$cjmt-color-accent-900: shade-color($cjmt-color-accent, 80%);

$cjmt-color-primarys: (
  'cjmt-color-primary-100': $cjmt-color-primary-100,
  'cjmt-color-primary-200': $cjmt-color-primary-200,
  'cjmt-color-primary-300': $cjmt-color-primary-300,
  'cjmt-color-primary-400': $cjmt-color-primary-400,
  'cjmt-color-primary-500': $cjmt-color-primary-500,
  'cjmt-color-primary-600': $cjmt-color-primary-600,
  'cjmt-color-primary-700': $cjmt-color-primary-700,
  'cjmt-color-primary-800': $cjmt-color-primary-800,
  'cjmt-color-primary-900': $cjmt-color-primary-900
);

$cjmt-color-secondarys: (
  'cjmt-color-secondary-100': $cjmt-color-secondary-100,
  'cjmt-color-secondary-200': $cjmt-color-secondary-200,
  'cjmt-color-secondary-300': $cjmt-color-secondary-300,
  'cjmt-color-secondary-400': $cjmt-color-secondary-400,
  'cjmt-color-secondary-500': $cjmt-color-secondary-500,
  'cjmt-color-secondary-600': $cjmt-color-secondary-600,
  'cjmt-color-secondary-700': $cjmt-color-secondary-700,
  'cjmt-color-secondary-800': $cjmt-color-secondary-800,
  'cjmt-color-secondary-900': $cjmt-color-secondary-900
);

$cjmt-color-accents: (
  cjmt-color-accent-100: $cjmt-color-accent-100,
  cjmt-color-accent-200: $cjmt-color-accent-200,
  cjmt-color-accent-300: $cjmt-color-accent-300,
  cjmt-color-accent-400: $cjmt-color-accent-400,
  cjmt-color-accent-500: $cjmt-color-accent-500,
  cjmt-color-accent-600: $cjmt-color-accent-600,
  cjmt-color-accent-700: $cjmt-color-accent-700,
  cjmt-color-accent-800: $cjmt-color-accent-800,
  cjmt-color-accent-900: $cjmt-color-accent-900
);
