/* scss-docs-start cjmt-gray-color-variables */
$cjmt-white: #e4edf4;
$cjmt-gray-100: #c0c0c0;
$cjmt-gray-200: #9a9a9a;
$cjmt-gray-300: #7b7b7b;
$cjmt-gray-400: #626262;
$cjmt-gray-500: #4e4e4e;
$cjmt-gray-600: #3e3e3e;
$cjmt-gray-700: #323232;
$cjmt-gray-800: #282828;
$cjmt-gray-900: #1a1a1a;
$cjmt-black: #000100;
/* scss-docs-end cjmt-gray-color-variables */

/* scss-docs-start color-variables */
$cjmt-blue:               #0A0FBA;
$cjmt-indigo:             #6600FF;
$cjmt-purple:             #510bda;
$cjmt-pink:               #fc89ac;
$cjmt-red:                #BA0A0f;
$cjmt-orange:             #FD8535;
$cjmt-yellow:             #ffe41e;
$cjmt-green:              #82ded1;
$cjmt-teal:               #b5ede4;
$cjmt-cyan:               #0abab5;
$cjmt-silver:             #a8a9ad;
$cjmt-chocolate:          #623412;
$cjmt-gray:               $cjmt-gray-600;
$cjmt-camel:              #c19a6b;
$cjmt-saltpan:            #ffffcc;
$cjmt-white-chocolate:    #ede6d6;
$cjmt-dark-vanilla:       #d1bea8;
$cjmt-ghost-white:        #fbfbfd;
/* scss-docs-end color-variables */

$cjmt-light-cyan:         #CDFFFF; /* Light Green */
$cjmt-neon-blue:          #555AFF; /* light blue */
$cjmt-salomie:            #FFD080; /* light orange */
$cjmt-wild-watermelon:    #FF555A; /* light red */

$cjmt-primary:            $cjmt-cyan;
$cjmt-secondary:          $cjmt-yellow;
$cjmt-accent:             $cjmt-silver;
$cjmt-success:            $cjmt-green;
$cjmt-info:               $cjmt-blue;
$cjmt-warning:            $cjmt-orange;
$cjmt-danger:             $cjmt-red;

$cjmt-success-border:  $cjmt-green;
$cjmt-info-border:     $cjmt-blue;
$cjmt-warning-border:  $cjmt-orange;
$cjmt-danger-border:   $cjmt-red;

$cjmt-success-bg:      $cjmt-light-cyan;
$cjmt-info-bg:         $cjmt-neon-blue;
$cjmt-warning-bg:      $cjmt-salomie;
$cjmt-danger-bg:       $cjmt-wild-watermelon;
