/* # HEADER
================================================================== */

header
{
    z-index: $zindex-header;

    display: flex;
    overflow: visible;
}


.site-header
{
    position: fixed;
    top: .05rem;
    right: 93vw;
    bottom: .05rem;
    left: 0;

    width: 7vw;
    max-width: 7vw;
    height: 100vh;
    max-height: 100vh;
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: .25rem;
    margin-left: .25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
}

#secondary
{
    border-style: solid;
    border-top: 0 solid transparent;
    border-right-width: $border-width-xs;
    border-right-color: $ghost-white;
    border-bottom: 0 solid transparent;
    border-left: 0 solid transparent;
    border-radius: $border-radius-xl;
    background-image: linear-gradient(365deg, transparent, rgba($silver-rgb, .55), transparent, rgba($silver-rgb, .75), rgba($silver-rgb, .95));
    box-shadow: .5rem 1.35rem .5rem $gray-400;
}
