/* # SITE-FOOTER
================================================================== */
.copyright
{
    font-family: 'Love Ya Like A Sister';
}

.credits
{
    font-size: 13px;

    padding-top: 5px;

    text-align: right;

    color: #eaebf0;
}
