.widget-area {
	@extend %responsive-alignwide-width;
	margin-top: 6 * $base-unit;
	padding-bottom: $spacer / 3;
	color: $active-color;
	font-size: $sub-sup-font-size;
	font-family: $meta-font-family;

	@include media(laptop) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		-moz-column-gap: 2 * $base-unit;
		     column-gap: 2 * $base-unit;
	}

	@include media(wide) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include media(mobile-only) {
		margin-top: 3 * $base-unit;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			line-height: $sm;
		}

		&.sub-menu,
		&.children {
			margin-left: $spacer / 3;
		}

		.sub-menu-toggle {
			display: none;
		}
	}

	a {
		color: $active-color;
		text-decoration: underline;
		-webkit-text-decoration-style: solid;
		        text-decoration-style: solid;
		-webkit-text-decoration-color: currentColor;
		        text-decoration-color: currentColor;

		&:link,
		&:active {
			color: $active-color;
		}

		$:visited {
			color: $visited-color;
		}

		&:hover {
			color: $hover-color;
			-webkit-text-decoration-style: $link;
			        text-decoration-style: $link;
		}
	}

	.wp-block-social-links {

		&.alignright {
			margin-top: $spacer;
			justify-content: flex-end;
		}

		&.alignleft {
			margin-top: $spacer;
		}
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.widget {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: $font-weight-bold;
		line-height: $large-line-height;
	}

	h1 {
		font-size: font-lg;
	}

	h2 {
		font-size: font-lg;
	}

	h3 {
		font-size: font-lg;
	}

	h4 {
		font-size: $sm;
	}

	h5 {
		font-size: $sm;
	}

	h6 {
		font-size: $sm;
	}
}

// Search widget styles
.search-form {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: $responsive--aligndefault-width;

	> label {
		width: 100%;
		margin-bottom: 0;
		font-weight: $font-weight-base;
	}

	.search-field {
		flex-grow: 1;
		max-width: inherit;
		margin-top: $spacer / 3;
		margin-right: 0.66 * $base-unit;
	}

	.search-submit {
		margin-top: $spacer / 3;
		margin-left: 10px;
	}
}

.widget_search > .search-form {

	.search-field {
		margin-right: -1 * $btn-border-width;
		-webkit-appearance: none;
		margin-bottom: 0.5 * $base-unit;
	}

	.search-submit {
		margin-left: 0;
		margin-bottom: 0.5 * $base-unit;
	}
}

.widget_rss a.rsswidget .rss-widget-icon {
	display: none;
}
