// border-radius

$border-radius: 1.05rem;
$border-radius-sm: .875rem;
$border-radius-lg: 1.25rem;
$border-radius-xl: 1.50rem;
$border-radius-xxl: 1.75rem;
$border-radius-pill: 50rem;

$border-color: $gray-300;
