/* ## Colors =============== */

@import 'colors-variables';
@import 'colors-theme';
@import 'colors-maps';
@import 'colors-rgba';

/* GRADIENTS */
$gradient: linear-gradient(-120deg, rgba($primary-rgb, .95), rgba($silver-rgb, .65), rgba($coral-rgb, .45), rgba(128, 0, 0, .1) 95%);

$gradient-brown: linear-gradient(30deg, rgba(98, 52, 18, .45) 10%, rgba(123, 63, 0, .55) 20%, rgba(193, 154, 107, .65) 30%, rgba(255, 255, 204, 1) 80%);

$gradient-white: linear-gradient()deg, rgba(0, 0, 0, .3), rgba(251, 251, 253, .45),  rgba(237, 230, 214, .6), rgba(228, 237, 244, .75), rgba(168, 169, 173, .9), rgba(78, 78, 78, 1);

$gradient-primary: linear-gradient(-170deg, rgba($accent-rgb, .55) 55%, rgba($secondary-rgb, .55) 65%, rgba($primary-rgb, .95) 85%);

$gradient-yellow: linear-gradient(150deg, rgba(255, 227, 2, .45) 35%, rgba(255, 228, 30, .7) 65%, rgba(11, 218, 81, .2) 100%);

/* GRADIENT BORDERS */

.border-gradient-brown
{
    -o-border-image: $gradient-brown 10% round;
       border-image: $gradient-brown 10% round;
}

.border-gradient-primary
{
    -o-border-image: gradient-primary 10% round;
       border-image: gradient-primary 10% round;
}

.border-gradient-white
{
    -o-border-image: $gradient-white, 10% round;
       border-image: $gradient-white, 10% round;
}

.border-gradient-theme
{
    -o-border-image: $gradient 10% round;
       border-image: $gradient 10% round;
}

.border-gradient-yellow
{
    -o-border-image: $gradient-yellow 10% round;
       border-image: $gradient-yellow 10% round;
}

/* BOX SHADOW */
$box-shadow: 1.75rem 1.5rem 1.75rem $box-shadow-rgb;
$box-shadow-sm: 1.25rem 1rem 1.25rem rgba($box-shadow-rgb, .075);
$box-shadow-lg: 2.25rem 2rem 2.25rem rgba($box-shadow-rgb, .175);
$box-shadow-active: 1.75rem 1.5rem 1.75rem rgba($active-rgb, .25);
$box-shadow-hover: inset .25rem .50rem .75rem rgba($hover-rgb, .075);
$box-shadow-focus: inset .25rem .50rem .75rem rgba($hover-rgb, .075) 25%;

$component-active-color: $active;
$component-active-bg: $active-bg;
