@import 'grid/variables';
@import 'grid/breakpoints';
@import 'grid/reponsiveness';
@import 'grid/containers';

$default_width: 610px;
$max_content_width: 1320px;

$gutter: $spacer;
$gutters: $spacers;
$grid-rows: $grid-row-columns;
