/* Clearing –––––––––––––––––––––––––––––––––––––––––––––––––– */
// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/

span.amp
{
    font-family: Baskerville,
    'Goudy Old Style',
    Palatino,
    'Book Antiqua',
    serif !important;  font-style: $citation;
}

.image-replacement,
.ir
{
    overflow: hidden;  white-space: nowrap;  text-indent: 100%;
}

.container:after,
.row:after,
.u-cf
{
    display: table;  clear: both;  content: '';
}

/**
* Clearing and floating
*/
$gutter-x: .05rem;
$gutter-y: .05rem;

.alignleft,
.float-left
{
    float: left;

    $gutter-x: .05rem;
    $gutter-y: .05rem;

    img &
    {
        margin-right: $gutter-x;
    }
}

.alignright,
.float-right
{
    float: right;

    img &
    {
        margin-left: $gutter-x;
    }
}

.aligncenter,
.float-center
{
    display: block;

    margin:
    {
        right: auto;
        left: auto;
    }

    img &
    {
        margin-bottom: $gutter-y;
    }
}

.cf,
.clear,
.clearfix
{
    @include clearfix;
}
