/* Links –––––––––––––––––––––––––––––––––––––––––––––––––– */

a,
a:active
{
    text-decoration: none;

    background: transparent;
    &:hover
    {
        text-decoration: var(--hover-decoration);

        color: $hover;
    }
}

a img
{
    border: 0;
}

a[href^='tel']
{
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;

    text-decoration: none;

    color: inherit;
}
