/* Text elements */
p
{
    margin-top: 0;
    margin-bottom: $spacer;
}

menu
{
    padding: 0 0 0 40px;
}

.strong,
b,
strong
{
    font-weight: bold;
}

.em,
cite,
dfn,
em,
i
{
    font-style: $citation;
}

blockquote
{
    font-style: $citation;  margin: 0 $base-unit;
}

address
{
    margin: 0 0 $base-unit;
}

abbr,
abbr[title],
acronym
{
    cursor: help;  border-bottom: 1px dotted #666;
}

ins,
mark
{
    text-decoration: none;  background: #fff9c0;
}

sub,
sup
{
    font-size: var(--sm);  line-height: 0;  position: relative;  height: 0;  vertical-align: baseline;
}

sup
{
    top: -.5em;  bottom: 1ex;
}

sub
{
    top: .5ex;  bottom: -.25em;
}

.small,
small
{
    font-size: var(--sm);
}

big
{
    font-size: 125%;
}



/* Spacing –––––––––––––––––––––––––––––––––––––––––––––––––– */


blockquote,
dl,
figure,
form,
menu,
ol,
p,
pre,
table,
ul
{
    margin: $spacer 0;
}
