/******************************************************************
Site Name: The Creativity Architect
Author: CJM Termini

Stylesheet: Responsive  Stylesheet

******************************************************************/

/**
 * Required Variables
 */

$default_width: 610px;
$max_content_width: 1240px;
$breakpoint_sm: 482px;
$breakpoint_md: 592px;
$breakpoint_lg: 652px;
$breakpoint_xl: 822px;
$breakpoint_xxl: 1024px;

// Responsive breakpoints mixin
@mixin media( $res )
{
    @if mobile-only == $res
    {
        @media only screen and (max-width: #{$breakpoint_sm - 1})
        {
            @content;
        }
    }

    @if mobile == $res
    {
        @media only screen and (min-width: #{$breakpoint_sm})
        {
            @content;
        }
    }

    @if tablet-only == $res
    {
        @media only screen and (max-width: #{$breakpoint_md - 1})
        {
            @content;
        }
    }

    @if tablet == $res
    {
        @media only screen and (min-width: #{$breakpoint_md})
        {
            @content;
        }
    }

    @if laptop-only == $res
    {
        @media only screen and (max-width: #{$breakpoint_lg - 1})
        {
            @content;
        }
    }

    @if laptop == $res
    {
        @media only screen and (min-width: #{$breakpoint_lg})
        {
            @content;
        }
    }

    @if desktop-only == $res
    {
        @media only screen and (max-width: #{$breakpoint_xl - 1})
        {
            @content;
        }
    }

    @if desktop == $res
    {
        @media only screen and (min-width: #{$breakpoint_xl})
        {
            @content;
        }
    }

    @if wide-only == $res
    {
        @media only screen and (max-width: #{$breakpoint_xxl - 1})
        {
            @content;
        }
    }

    @if wide == $res
    {
        @media only screen and (min-width: #{$breakpoint_xxl})
        {
            @content;
        }
    }
}

/**
 * Root Media Query Variables
 */
:root
{
    $spacing-horizontal: 1.5vw;
    $responsive-spacing-horizontal: calc(2 * $spacing-horizontal) * .6;
    $responsive-aligndefault-width: calc(100vw - $responsive-spacing-horizontal);
    $responsive-alignwide-width: calc(100vw - $responsive-spacing-horizontal);
    $responsive-alignfull-width: 100vw;
    $responsive-alignright-margin: $spacing-horizontal;
    $responsive-alignleft-margin: $spacing-horizontal;
}

@include media(mobile)
{
    :root
    {
        $responsive-aligndefault-width: min(calc(100vw - 4 * $spacing-horizontal), #{$default_width});
        $responsive-alignwide-width: calc(100vw - 4 * $spacing-horizontal);
        $responsive-alignright-margin: calc(.5 * (100vw - $responsive-aligndefault-width));
        $responsive-alignleft-margin: calc(.5 * (100vw - $responsive-aligndefault-width));
    }
}

@include media(desktop)
{
    :root
    {
        $responsive-aligndefault-width: min(calc(100vw - 8 * $spacing-horizontal), #{$default_width});
        $responsive-alignwide-width: min(calc(100vw - 8 * $spacing-horizontal), #{$max_content_width});
    }
}

/**
 * Extends
 */
%responsive-aligndefault-width
{
    max-width: $responsive-aligndefault-width;
    margin-right: auto;
    margin-left: auto;
}

%responsive-alignwide-width
{
    max-width: $responsive-alignwide-width;
    margin-right: auto;
    margin-left: auto;
}

%responsive-alignfull-width-mobile
{
    width: $responsive-alignfull-width;
    max-width: $responsive-alignfull-width;
    margin-right: auto;
    margin-left: auto;
}

@include media(mobile)
{
    %responsive-alignfull-width
    {
        width: auto;
        max-width: $responsive-alignfull-width;
        margin-right: auto;
        margin-left: auto;
    }
}

%responsive-alignwide-width-nested
{
    width: $responsive-alignwide-width;
    max-width: $responsive-alignfull-width;
    margin-right: auto;
    margin-left: auto;
}

%responsive-alignfull-width-nested
{
    width: calc($responsive-alignfull-width) - calc(2 * $responsive-spacing-horizontal);
    max-width: $responsive-alignfull-width;
    margin-right: auto;
    margin-left: auto;
}

@include media(desktop)
{
    %responsive-alignfull-width-nested
    {
        width: calc($responsive-alignfull-width) - calc(4 * $responsive-spacing-horizontal);
        max-width: $responsive-alignfull-width;
        margin-right: auto;
        margin-left: auto;
    }
}

%responsive-alignleft-mobile
{
    /*rtl:ignore*/
    margin-right: $responsive-spacing-horizontal;
    /*rtl:ignore*/
    margin-left: 0;
}

@include media(mobile)
{
    %responsive-alignleft
    {
        /*rtl:ignore*/
        margin-right: $spacing-horizontal;
        /*rtl:ignore*/
        margin-left: $responsive-alignleft-margin;
    }
}

%responsive-alignright-mobile
{
    /*rtl:ignore*/
    margin-right: 0;
    /*rtl:ignore*/
    margin-left: $responsive-spacing-horizontal;
}

@include media(mobile)
{
    %responsive-alignright
    {
        /*rtl:ignore*/
        margin-right: $responsive-alignright-margin;
        /*rtl:ignore*/
        margin-left: $spacing-horizontal;
    }
}

// Output
.default-max-width
{
    @extend %responsive-aligndefault-width;
}

.wide-max-width
{
    @extend %responsive-alignwide-width;
}

.full-max-width
{
    @extend %responsive-alignfull-width;
}
