@mixin clearfix {
  &::after {
    content : "";
    display : block;
    clear   : both;
  }

  &:after,
  &:before {
    content      : ' ';
    display      : table;
    table-layout : fixed;
  }

  &:after {
    clear : both;
  }
}
